* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgba(65, 8, 8, 0.895);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; */
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  
}

.header-inner {
  gap: 30px;
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 300px;
  width: 100%;
}

.btn a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
